<div class="container-sm" id="cambio">
    <p>Informacion personal</p>
    <div class="container">
        <div id="info">
            <p></p>
        </div>
        <div>
            <input id="edit-info" type="text" oninput="myFunction(this.value)" style="display:none">
        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="button" onclick="cambiar_parrafo()">Editar</button>
        <button class="btn btn-primary" type="button">Guardar</button>
    </div>
</div>

<!--input type="file" id="file1" onchange="showFile(this)"//-->